extends layout

block content
	div(ng-controller="TruckCtrl")
		div#header.visible-md.visible-lg
			h1 Food Truck Me
		div.row.visible-xs.visible-sm
			div.col-xs-3
				h4 FoodTruckMe
			div.col-xs-9.input-append
				input.searchbarshort(type="search", placeholder="enter an address", ng-model="address")
				button.btn.btn-default(ng-disabled="false", type="submit", ng-click="searchByAddress()") Search
				button.btn.btn-default(ng-disabled="false", type="submit", ng-click="displayTrucksNearUser()") Nearby
				label.flashMessage
					{{flashMessage}}
		div.row.visible-md.visible-lg
			div.col-md-7.input-append
				input.searchbarlong(type="search", placeholder="enter an address", ng-model="address")
				button.btn.btn-default(ng-disabled="false", type="submit", ng-click="searchByAddress()") Search
				button.btn.btn-default(ng-disabled="false", type="submit", ng-click="displayTrucksNearUser()") Nearby
				label.flashMessage
					{{flashMessage}}
			div.col-md-5
				div.row
					div.col-md-2
						button.btn.btn-default(ng-click="prevPage()", ng-disabled="!(currentPage > 0)") Prev
					div.col-md-2
						button.btn.btn-default(ng-click="nextPage()", ng-disabled="!hasMore()") Next
					div.col-md-4.col-md-offset-3
						button.btn.btn-link.infobutton(disabled) {{displayTotalLong()}}
		div.row
			div.col-md-7
				gmap#map_canvas
			div.itemlist.col-md-5.visible-md.visible-lg
				table.table
					tr.item(truckItem, ng-repeat="truck in trucks")
						td(ng-mouseenter="clickMarker(truck.srcid)", ng-click="clickMarker(truck.srcid)")
							p
								b {{truck.name}} 
								span ({{truck.address}})
							p {{truck.desc}}
		div.row.visible-xs.visible-sm
			div.col-xs-4
				button.btn.btn-default(ng-disabled="false", ng-click="refreshMarkers()") Redo search
			div.col-xs-4.col-xs-offset-1
				button.btn.btn-default(ng-click="prevPage()", ng-disabled="!(currentPage > 0)") {{prevText()}}
				button.btn.btn-default(ng-click="nextPage()", ng-disabled="!hasMore()") {{nextText()}}
			div.col-xs-3
				button.btn.btn-link.infobutton(disabled) {{displayTotalShort()}}
		div.row
			div.itemlist.col-sm-12.visible-sm
				table.table
					tr.item(truckItem, ng-repeat="truck in trucks")
						td(ng-mouseenter="clickMarker(truck.srcid)", ng-click="clickMarker(truck.srcid)")
							p
								b {{truck.name}} 
								span ({{truck.address}})
							p {{truck.desc}}
		div.row.visible-md.visible-lg
			div.col-md-12
				div.checkbox
					label
						input(type="checkbox", ng-click="toggleAutoMove()", ng-model="autoMove")
						| Refresh results when the map moves