body {
  padding-left: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#map_canvas{
	width: 100%;
	height: 500px;
	border: 1px solid #333335;
	margin-bottom:20px;
}

.searchbarshort {
	width: 150px;
}

.searchbarlong {
	width: 310px;
}

tr.item:hover {
	background-color:lightBlue;	
}

div.itemlist {
	height: 500px;
	overflow: auto;
}

.infobutton {
	color: black;
}

.flashMessage {
	font-style: italic;
	font-weight: normal;
	color: grey;
}